    <h1>How Was The Ecological Price For
    <span class="emphasis">Paris to New York Round Trip</span> Computed?
  </h1>
      <p>
        <span class="emphasis">Paris to New York Round Trip</span>
        is a <span class="emphasis">CO<sub>2</sub>&nbsp;Object</span>.
      </p>
      <p>The ecological price of CO<sub>2</sub> objects, by definition, only depends on the CO<sub>2</sub> emitted to create them.</p>
      <!---->
      <p>The ecological footprint, in global square meters, of a CO<sub>2</sub> object, is computed by multiplying its CO<sub>2</sub> cost
        by the ecological footprint of CO<sub>2</sub> emissions.</p>
      <p>To know more about what an ecological footprint or a global square meter is, see
        <span class="emphasis">the global details page</span>.
      </p>
      <p>The ecological footprint of CO<sub>2</sub> emissions is computed by the Global Footprint Network:</p>
      <div class="data-box">
  <span class="emphasis">
    CO<sub>2</sub> ecological footprint: 2.56 gm² / kg
  </span>
      </div>
      <p>The CO<sub>2</sub> emissions for <span class="emphasis">Paris to New York Round Trip</span> are:</p>
      <div class="data-box">
  <span class="emphasis">
    CO<sub>2</sub> emissions for <span class="emphasis">Paris to New York Round Trip</span>: 1,300.00 kg
  </span>
      </div>
      <p>We can then compute the ecological footprint:</p>
      <div class="data-box">
  <span class="emphasis">
    Ecological footprint for <span class="emphasis">Paris to New York Round Trip</span>:
  </span>
        2.56 x 1,300.00 =
        <span class="emphasis">
    3,328.00 gm²
  </span>
      </div>
      <p>We can then compute the ecological price by multiplying the ecological price by the price of a global square
        meter (€0.673) computed in the
                <span class="emphasis">global details page</span>
      <div class="data-box data-box-result">
  <span class="emphasis">
    Ecological price for Paris to New York round trip:
  </span>
        3,328.00 x 0.673 =
        <span class="emphasis">
    €2,240.86
  </span>
</div>
