<h1>Ecological Prices</h1>
<p>The ecological price of an object represents how much it costs the planet to make it: the higher the price,
  the more costly for the planet.</p>
<p>Ecological prices are computed so that if everyone on the planet has the same revenue they have now,
  but buy things at their ecological price, then we won't consume more than what the planet can handle.</p>
<p>Ecological prices depend on the country, so you can choose one on the top right of the screen.</p>
<button routerLink="/prices">See some prices</button>