<h1>Prices</h1>
  <p>Ecological prices depend on the country.
    You have choosen: <span class="emphasis">France</span>.
    Prices are in <span class="emphasis">Euro (EUR)</span>.</p>
  <p>For more details on how the ecological prices are computed,
    see the
    <span class="emphasis">global details page</span>
  </p>

  <h2>CO<sub>2</sub> Objects</h2>
  <p>The ecological prices of a CO<sub>2</sub> objects are calculated from the
    amount of CO<sub>2</sub> their production generates.</p>
  <p>The table below shows the ecological prices of some CO<sub>2</sub> objects.</p>
  <p>You can click on any object to see how its price was computed.</p>
    <table>
      <thead><!---->
        <td> Object
        </td>
        <td > Price
        </td>
      </thead><!---->
      <tr>
        <td>
          Paris to New York round trip
        </td>
<td>€2,240.86</td>
      </tr>
      <tr>
        <td>
          1 km by car
        </td>
<td>€0.31</td>
      </tr>
      <tr>
        <td>
          1 kWh of natural gas
        </td>
<td>€0.40</td>
      </tr>
      <tr>
        <td>
          1 kWh of electricity
        </td>
<td>€1.02</td>
      </tr>
      <tr>
        <td>
          iPhone X (85% making, 15% using)
        </td>
<td>€136.18</td>
      </tr>
      <tr>
        <td>
          Freight by plane (1 kg, 1000 km)
        </td>
<td>€0.86</td>
      </tr>
      <tr>
        <td>
          Freight by boat (1 kg, 1000 km)
        </td>
<td>€0.04</td>
      </tr>
      <tr>
        <td>
          Freight by truck (1 kg, 1000 km)
        </td>
<td>€0.18</td>
      </tr>
      <tr>
        <td>
          1 kg of CO2
        </td>
<td>€1.72</td>
      </tr>
    </table>


  <h2>Crop Objects</h2>
  <p>The ecological prices of crop objects are calculated from the surface of cultivated land needed
    for their
    production.</p>
  <p>The table below shows the ecological prices of some crop objects.</p>
  <p>You can click on any object to see how its price was computed.</p>
      <table>
      <thead><!---->
        <td> Object
        </td>
        <td > Price
        </td>
      </thead>
      <tr>
        <td>
          Almonds, with shell - 1 kg
        </td>
<td>€11.06</td>
      </tr>
      <tr>
        <td>
          Apples - 1 kg
        </td>
<td>€1.07</td>
      </tr>
      <tr>
        <td>
          Avocados - 1 kg
        </td>
<td>€1.87</td>
      </tr>
      <tr>
        <td>
          Bananas - 1 kg
        </td>
<td>€0.82</td>
      </tr>
      <tr>
        <td>
          Carrots - 1 kg
        </td>
<td>€0.52</td>
      </tr>
      <tr>
        <td>
          Cherries - 1 kg
        </td>
<td>€3.16</td>
      </tr>
      <tr>
        <td>
          Eggplants - 1 kg
        </td>
<td>€0.65</td>
      </tr>
      <tr>
        <td>
          Grapes - 1 kg
        </td>
<td>€1.60</td>
      </tr>
      <tr>
        <td>
          Hazelnuts, with shell - 1 kg
        </td>
<td>€12.56</td>
      </tr>
      <tr>
        <td>
          Lemons - 1 kg
        </td>
<td>€1.12</td>
      </tr>
      <tr>
        <td>
          Lentils - 1 kg
        </td>
<td>€13.47</td>
      </tr>
      <tr>
        <td>
          Lettuce and chicory - 1 kg
        </td>
<td>€0.80</td>
      </tr>
      <tr>
        <td>
          Mangoes - 1 kg
        </td>
<td>€2.16</td>
      </tr>
      <tr>
        <td>
          Mushrooms and truffles - 1 kg
        </td>
<td>€0.05</td>
      </tr>
      <tr>
        <td>
          Olives - 1 kg
        </td>
<td>€8.04</td>
      </tr>
      <tr>
        <td>
          Oranges - 1 kg
        </td>
<td>€0.97</td>
      </tr>
      <tr>
        <td>
          Peaches and nectarines - 1 kg
        </td>
<td>€1.23</td>
      </tr>
      <tr>
        <td>
          Pears - 1 kg
        </td>
<td>€1.08</td>
      </tr>
      <tr>
        <td>
          Potatoes - 1 kg
        </td>
<td>€0.89</td>
      </tr>
      <tr>
        <td>
          Quinoa - 1 kg
        </td>
<td>€28.51</td>
      </tr>
      <tr>
        <td>
          Tomatoes - 1 kg
        </td>
<td>€0.50</td>
      </tr>
</table>


  <h2>Livestock Objects</h2>
  <p>The ecological prices of livestock objects are calculated from the surface of cultivated and
    grazing land needed to
    feed them.</p>
  <p>The table below shows the ecological prices of some livestock objects.</p>
  <p>You can click on any object to see how its price was computed.</p>
      <table>
      <thead><!---->
        <td> Object
        </td>
        <td > Price
        </td>
      </thead>
      <tr>
        <td>
          Beef meat - 1 kg
        </td>
<td>€49.41</td>
      </tr>
      <tr>
        <td>
          Chicken meat - 1 kg
        </td>
<td>€21.37</td>
      </tr>
</table>


  <h2>Compound Objects</h2>
  <p>Compound objects are objects that are composed of other objects. Their ecological price are
    derived from the
    ecological prices of these other objects.</p>
  <p>The table below shows the ecological prices of some compound objects.</p>
  <p>You can click on any object to see how its price was computed.</p>
<table>
  <thead><!---->
  <td> Object
  </td>
  <td > Price
  </td>
  </thead>

      <tr>
        <td>
          10 km by car
        </td>
<td>€3.14</td>
      </tr>
      <tr>
        <td>
          1000 km by car
        </td>
<td>€313.72</td>
      </tr>
      <tr>
        <td>
          Banana, by boat, 10,000 km away
        </td>
<td>€1.26</td>
      </tr>
      <tr>
        <td>
          Cherries, by plane, 10,000 km away
        </td>
<td>€11.78</td>
      </tr>
      <tr>
        <td>
          Tomatoes, by truck, 2,000 km away
        </td>
<td>€0.87</td>
      </tr>
    </table>